BODY {
	SCROLLBAR-FACE-COLOR: #316d94; FONT-SIZE: 9pt; SCROLLBAR-HIGHLIGHT-COLOR: #316d94; SCROLLBAR-SHADOW-COLOR: #316d94; COLOR: #333333; SCROLLBAR-3DLIGHT-COLOR: #316d94; SCROLLBAR-ARROW-COLOR: #e2e9ea; SCROLLBAR-TRACK-COLOR: #e2e9ea; FONT-FAMILY: Tahoma; SCROLLBAR-DARKSHADOW-COLOR: #e2e9ea; BACKGROUND-COLOR: #f7f7f7
}
A {
	FONT-SIZE: 9pt; COLOR: #316d94; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
A:link {
	FONT-SIZE: 9pt; COLOR: #316d94; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 9pt; COLOR: #316d94; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 9pt; COLOR: #316d94; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.bar {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 9pt; PADDING-BOTTOM: 3px; COLOR: #ffffff; PADDING-TOP: 7px; FONT-FAMILY: Tahoma; HEIGHT: 28px; BACKGROUND-COLOR: #316d94; TEXT-ALIGN: right
}
.bar A:link {
	FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.bar A:visited {
	FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.bar A:hover {
	FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.out {
	PADDING-RIGHT: 5px; BORDER-TOP: #f7f7f7 1px solid; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 8pt; COLOR: #333333; BORDER-BOTTOM: #f7f7f7 1px solid; FONT-FAMILY: Tahoma; HEIGHT: 20px; BACKGROUND-COLOR: #f7f7f7; TEXT-ALIGN: right; BORDER-RIGHT-WIDTH: 1px
}
.out A:link {
	FONT-SIZE: 9pt; COLOR: #333333; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.out A:visited {
	FONT-SIZE: 9pt; COLOR: #333333; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.out A:hover {
	FONT-SIZE: 9pt; COLOR: #333333; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.over {
	PADDING-RIGHT: 5px; BORDER-TOP: #f7f7f7 1px solid; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 8pt; COLOR: #ffffff; BORDER-BOTTOM: #f7f7f7 1px solid; FONT-FAMILY: Tahoma; HEIGHT: 20px; BACKGROUND-COLOR: #316d94; TEXT-ALIGN: right; BORDER-RIGHT-WIDTH: 1px
}
.over A:link {
	FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.over A:visited {
	FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.over A:hover {
	FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.title {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 9pt; PADDING-BOTTOM: 3px; WIDTH: 150px; COLOR: #ffffff; PADDING-TOP: 4px; FONT-FAMILY: Tahoma; HEIGHT: 20px; BACKGROUND-COLOR: #316d94; TEXT-ALIGN: center
}
.title A:link {
	FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.title A:visited {
	FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
.title A:hover {
	FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
TEXTAREA {
	BORDER-RIGHT: #333333 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #333333 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 9pt; PADDING-BOTTOM: 3px; BORDER-LEFT: #333333 1px solid; COLOR: #333333; PADDING-TOP: 3px; BORDER-BOTTOM: #333333 1px solid; FONT-FAMILY: Tahoma; TEXT-ALIGN: right
}
.SendBTN {
	BORDER-RIGHT: #9c9a9c 1px solid; BORDER-TOP: #9c9a9c 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #9c9a9c 1px solid; COLOR: #313031; PADDING-TOP: 2px; BORDER-BOTTOM: #9c9a9c 1px solid; FONT-FAMILY: Tahoma; HEIGHT: 20px; BACKGROUND-COLOR: #efefef; TEXT-ALIGN: center
}
.resetbtn {
	BORDER-RIGHT: #9c9a9c 1px solid; BORDER-TOP: #9c9a9c 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #9c9a9c 1px solid; COLOR: #313031; PADDING-TOP: 2px; BORDER-BOTTOM: #9c9a9c 1px solid; FONT-FAMILY: Tahoma; HEIGHT: 20px; BACKGROUND-COLOR: #efefef; TEXT-ALIGN: center
}
.webbox {
	BORDER-RIGHT: #333333 1px solid; BORDER-TOP: #333333 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 9pt; BORDER-LEFT: #333333 1px solid; COLOR: #333333; BORDER-BOTTOM: #333333 1px solid; FONT-FAMILY: Tahoma; TEXT-ALIGN: left
}
.mailbox {
	BORDER-RIGHT: #333333 1px solid; BORDER-TOP: #333333 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 9pt; BORDER-LEFT: #333333 1px solid; COLOR: #333333; BORDER-BOTTOM: #333333 1px solid; FONT-FAMILY: Tahoma; TEXT-ALIGN: left
}
.namebox {
	BORDER-RIGHT: #333333 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #333333 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #333333 1px solid; COLOR: #333333; BORDER-BOTTOM: #333333 1px solid; FONT-FAMILY: Tahoma; TEXT-ALIGN: right
}
#sidebar {
	LEFT: 10px; WIDTH: 155px; POSITION: absolute; TOP: 50px; HEIGHT: 155px
}
.box {
	BORDER-TOP-WIDTH: 1px; BORDER-RIGHT: #316d94 1px dotted; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 9pt; PADDING-BOTTOM: 5px; BORDER-LEFT: #316d94 1px dotted; WIDTH: 150px; COLOR: #333333; PADDING-TOP: 5px; BORDER-BOTTOM: #316d94 1px dotted; FONT-FAMILY: Tahoma; BACKGROUND-COLOR: #ffffff
}
