BODY {
	BACKGROUND-IMAGE: url(../images/bg.jpg); MARGIN: 0px; BACKGROUND-REPEAT: repeat-x
}
#logo {
	PADDING-BOTTOM: 5px; PADDING-TOP: 10px; text-direction: right
}
#Container {
	WIDTH: 762px; BACKGROUND-COLOR: #fff; text-direction: rtl
}
#Container {
	WIDTH: 762px; BACKGROUND-COLOR: #fff
}
#Container #left {
	LEFT: 0px; POSITION: relative; TOP: 0px
}
#Container #topleft {
	LEFT: 10px; BACKGROUND-IMAGE: url(../images/tlC.gif); WIDTH: 13px; BACKGROUND-REPEAT: no-repeat; POSITION: absolute; TOP: 0px; HEIGHT: 13px
}
#Container #topright {
	RIGHT: 10px; BACKGROUND-IMAGE: url(../images/trC.gif); WIDTH: 13px; BACKGROUND-REPEAT: no-repeat; POSITION: absolute; TOP: 0px; HEIGHT: 13px
}
#Container #right {
	RIGHT: 0px; POSITION: absolute; TOP: 0px
}
#Container #topleftlight {
	RIGHT: 11px; BACKGROUND-IMAGE: url(../images/trGradient.png); WIDTH: 267px; BACKGROUND-REPEAT: no-repeat; POSITION: absolute; TOP: 1px; HEIGHT: 346px
}
#Content {
	LEFT: 13px; WIDTH: 736px; POSITION: absolute; TOP: 0px
}
#Padline {
	PADDING-TOP: 7px
}
#Menu {
	BORDER-RIGHT: #e4e4f1 1px solid; BORDER-TOP: #e4e4f1 1px solid; FONT-SIZE: 8pt; BACKGROUND-IMAGE: url(../images/menubg.gif); BORDER-LEFT: #e4e4f1 1px solid; COLOR: #000080; BORDER-BOTTOM: #e4e4f1 1px solid; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Tahoma; HEIGHT: 28px; TEXT-ALIGN: right; text-direction: rtl
}
#Menu #mpad {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#Menu A:link {
	COLOR: navy; TEXT-DECORATION: none
}
#Menu A:visited {
	COLOR: navy; TEXT-DECORATION: none
}
#Menu A:hover {
	COLOR: #2277dd; TEXT-DECORATION: none
}
.box {
	BORDER-RIGHT: #e4e4f1 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #e4e4f1 1px solid; WIDTH: 100%; BORDER-BOTTOM: #e4e4f1 1px solid; FONT-FAMILY: Tahoma; BACKGROUND-COLOR: white
}
.box .header {
	BACKGROUND-IMAGE: url(../images/hbg.gif); WIDTH: 100%; BORDER-BOTTOM: #e4e4f1 1px solid; BACKGROUND-REPEAT: repeat-x; HEIGHT: 22px; TEXT-ALIGN: center
}
.box .title {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 8pt; PADDING-BOTTOM: 3px; WIDTH: 100%; PADDING-TOP: 3px; FONT-FAMILY: Tahoma
}
.box .content {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; WIDTH: 100%; PADDING-TOP: 2px; TEXT-ALIGN: right
}
.box .content2 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; WIDTH: 100%; PADDING-TOP: 2px; TEXT-ALIGN: right
}
.box .content2 A:link {
	WIDTH: 130px; COLOR: #0560a6; HEIGHT: 20px; TEXT-DECORATION: none
}
.box .content2 A:visited {
	WIDTH: 130px; COLOR: #0560a6; HEIGHT: 20px; TEXT-DECORATION: none
}
.box .content2 A:hover {
	WIDTH: 130px; COLOR: navy; HEIGHT: 20px; BACKGROUND-COLOR: #e9e9fc; TEXT-DECORATION: none
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TABLE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 9pt; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; FONT-FAMILY: Tahoma
}
.Textbox {
	BORDER-RIGHT: #c0c0c0 1px solid; BORDER-TOP: #c0c0c0 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #c0c0c0 1px solid; COLOR: #000000; BORDER-BOTTOM: #c0c0c0 1px solid; FONT-FAMILY: Tahoma; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff
}
.Textarea {
	BORDER-RIGHT: #c0c0c0 1px solid; BORDER-TOP: #c0c0c0 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #c0c0c0 1px solid; COLOR: #000000; BORDER-BOTTOM: #c0c0c0 1px solid; FONT-FAMILY: Tahoma; BACKGROUND-COLOR: #ffffff
}
.s {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: red; FONT-FAMILY: Tahoma
}
.oBtnMain {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #ffffff 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: Tahoma; HEIGHT: 23px; BACKGROUND-COLOR: #ff6600
}
.oBtn3 {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 8.5pt; BACKGROUND-IMAGE: url(../images/btn.gif); BORDER-LEFT: #ffffff 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Tahoma; HEIGHT: 23px; BACKGROUND-COLOR: #3973b3
}
.oBtn {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 9pt; BACKGROUND-IMAGE: url(../images/obtn.gif); BORDER-LEFT: #ffffff 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Tahoma; HEIGHT: 23px; BACKGROUND-COLOR: #ff6600
}
.bTD {
	FONT-SIZE: 8pt; FONT-FAMILY: Tahoma; BACKGROUND-COLOR: #f5fafe
}
.bTDA {
	BORDER-TOP: #d2e3fb 1px solid; FONT-SIZE: 8pt; FONT-FAMILY: Tahoma; BACKGROUND-COLOR: #e0edf1
}
.bTDH {
	FONT-SIZE: 8pt; FONT-FAMILY: Tahoma; BACKGROUND-COLOR: #c8e0fb
}
A:link {
	COLOR: #0560a6; TEXT-DECORATION: none
}
A:visited {
	COLOR: #0560a6; TEXT-DECORATION: none
}
A:hover {
	COLOR: red; TEXT-DECORATION: none
}
.message {
	background-color: #FAFAFA;
/*	padding: 5px; margin: 20px 10px 0 10px;*/
	border: 1px solid #FFFF00;
	font-size: x-small; 
	font-family:tahoma; 
	color:#FF0000;
	text-align:center;
	direction:rtl;
	WIDTH: 598px;
}