--	All rights reserved to Alireza Poshtkohi (c) 1999-2023.
--	Email: arp@poshtkohi.info
--	Website: http://www.poshtkohi.info

USE [msdbb]

GO

-- =============================================
-- Create procedure with OUTPUT Parameters
-- =============================================
-- creating the store procedure
IF EXISTS (SELECT name 
	   FROM   sysobjects 
	   WHERE  name = 'PagesShow_PagesDetailsPage_proc' 
	   AND 	  type = 'P')
    DROP PROCEDURE PageShow_PagesDetailsPage_proc
GO

CREATE PROCEDURE PageShow_PagesDetailsPage_proc

@PageID BIGINT

AS

SELECT TOP 1 PageTitle,PageContent FROM pages WHERE [id]=@PageID AND IsDeleted=0;

RETURN 