.button {
	BORDER-RIGHT: #5c9bee 1px solid; BORDER-TOP: #5c9bee 1px solid; FONT-SIZE: 8pt; FILTER: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorStr=#FFFFFF, endColorStr=#E6EA8E ); BORDER-LEFT: #5c9bee 1px solid; CURSOR: hand; COLOR: black; BORDER-BOTTOM: #5c9bee 1px solid; FONT-FAMILY: Tahoma; HEIGHT: 20px
}
BODY {
	COLOR: #555555; BACKGROUND-COLOR:#FFFFFF
}
A {
	COLOR: #004a80
}
DIV.Header {
	BORDER-LEFT-COLOR: #7f9db9; BORDER-BOTTOM-COLOR: #7f9db9; BORDER-TOP-COLOR: #7f9db9; BACKGROUND-COLOR:#F1E2AF; BORDER-RIGHT-COLOR: #7f9db9
}
DIV.Advertisement {
	BORDER-LEFT-COLOR: #b08a42; BORDER-BOTTOM-COLOR: #b08a42; BORDER-TOP-COLOR: #b08a42; BACKGROUND-COLOR: #f7f9b5; BORDER-RIGHT-COLOR: #b08a42
}
DIV.Error {
	BORDER-LEFT-COLOR: #db7373; BORDER-BOTTOM-COLOR: #db7373; COLOR: #981a1a; BORDER-TOP-COLOR: #db7373; BACKGROUND-COLOR: #fde4e4; BORDER-RIGHT-COLOR: #db7373
}
DIV.Message {
	BORDER-LEFT-COLOR: #6aab61; BORDER-BOTTOM-COLOR: #6aab61; COLOR: #13540a; BORDER-TOP-COLOR: #6aab61; BACKGROUND-COLOR: #c3f3bd; BORDER-RIGHT-COLOR: #6aab61
}
DIV.Comments {
	BORDER-LEFT-COLOR: #aaaaaa; BORDER-BOTTOM-COLOR: #aaaaaa; BORDER-TOP-COLOR: #aaaaaa; BACKGROUND-COLOR: #f8f8f8; BORDER-RIGHT-COLOR: #aaaaaa
}
DIV.CommentForm {
	BORDER-LEFT-COLOR: #7f9db9; BORDER-BOTTOM-COLOR: #7f9db9; BORDER-TOP-COLOR: #7f9db9; BACKGROUND-COLOR:#E6EA8E; BORDER-RIGHT-COLOR: #7f9db9
}
TABLE.CommentForm {
	COLOR: #333333
}
TD.CommentName {
	COLOR: #333333
}
TD.CommentDate {
	COLOR: #333333
}
TD.CommentBody {
	COLOR: #222222
}
TD.CommentsNavigation {
	COLOR: #5c657e
}
TR.CommentsNavigation {
	BACKGROUND-COLOR: #b2bee3
}
TR.CommentHeader {
	BACKGROUND-COLOR: #dddddd
}
TR.CommentBody {
	BACKGROUND-COLOR: #f0f0f0
}
TR.CommentFooter {
	BACKGROUND-COLOR: #f0f0f0
}
