BODY {
	FONT-SIZE: 9pt; MARGIN: 10px; CURSOR: default; FONT-FAMILY: Tahoma
}
INPUT {
	FONT-SIZE: 9pt; FONT-FAMILY: Tahoma
}
TEXTAREA {
	FONT-SIZE: 9pt; WIDTH: 274px; FONT-FAMILY: Tahoma
}
TD {
	FONT-SIZE: 9pt; VERTICAL-ALIGN: top; FONT-FAMILY: Tahoma
}
TD.form {
	WIDTH: 100px; PADDING-TOP: 4px
}
TABLE {
	TABLE-LAYOUT: fixed; WIDTH: 100%
}
A {
	TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
DIV {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: 1px solid; PADDING-LEFT: 5px; MARGIN-BOTTOM: 3px; PADDING-BOTTOM: 5px; BORDER-LEFT: 1px solid; WIDTH: 480px; PADDING-TOP: 5px; BORDER-BOTTOM: 1px solid; TEXT-ALIGN: right
}
DIV.footer {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 8pt; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px
}
DIV.ajax {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 8pt; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 0px;font-family:Tahoma;color:#FF6600;direction:rtl
}
FORM {
	MARGIN: 0px
}
#imgSecurityCode {
	WIDTH: 70px; CURSOR: pointer; HEIGHT: 20px
}
SPAN.form {
	CURSOR: pointer
}
IMG.smiley {
	FILTER: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1); MARGIN-BOTTOM: 2px; WIDTH: 18px; CURSOR: pointer; HEIGHT: 18px
}
#divLanguageButton {
	BORDER-RIGHT: #7f9db9 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #7f9db9 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 8pt; VISIBILITY: hidden; PADDING-BOTTOM: 0px; BORDER-LEFT: #7f9db9 1px solid; WIDTH: 20px; CURSOR: pointer; COLOR: #7f9db9; PADDING-TOP: 2px; BORDER-BOTTOM: #7f9db9 1px solid; POSITION: absolute; HEIGHT: 20px; BACKGROUND-COLOR: white; TEXT-ALIGN: center
}
TABLE.Comments {
	MARGIN-BOTTOM: 5px
}
TD.CommentName {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
TD.CommentDate {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 8pt; PADDING-BOTTOM: 2px; WIDTH: 155px; PADDING-TOP: 2px; TEXT-ALIGN: left
}
TD.CommentBody {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
TD.CommentFooter {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
TD.CommentsNavigation {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
DIV.Comments {
	PADDING-BOTTOM: 0px
}
IMG.CommentSmiley {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; VERTICAL-ALIGN: middle; WIDTH: 18px; HEIGHT: 18px; BORDER-RIGHT-WIDTH: 0px
}
