<post>
 <p>
 	<date><div id="comments_date">[date]</div></date>
    <div id="avatar_small">
    	<a href="[url]" title="[name]"><img src="[image]" width="40" height="40" style="border-width:0px"/></a>
    </div>
     <div  id="message_comment" style="text-align:[align];direction:[dir]">[PostContent]</div>
    <div id="comments_message_footer">
			[name] ، [LastTime]
			<from>
            	-&nbsp;&nbsp;از [from]&nbsp;
            </from>
            <delete>
            	&nbsp;-&nbsp;<a href="javascript:void(0);" onclick="ItemDelete('[id]','CommentDelete');">حذف 
				این نظر
			</delete>
    </div>    
    </p>
 </post>
 <paging>
    <p>
    <div class="pager">[paging]</div>
    <p>
</paging>