<post>
<div id="post_compact" title="[CompleteCommentContent]">
   <a href="[url]"><img src="[image]" width="40" height="40" alt="[name]"/></a>
    	<CommentContent>
        	<span class="regulat" align="[CommentAlign]" dir="[comment-dir]"><a href="[url]comments.aspx?PostID=[id]">[CommentContent]</a></span>
        </CommentContent>
		<div align="[PostAlign]" dir="post-dir" class="regulat">
        	<ForCommenting>
            	<a href="[url]comments.aspx?PostID=[id]"><b>در پیغامک:</b> [PostContent]</a>            
            </ForCommenting>
            <ForLatestPrivateMessages>
            	 [PostContent] 
            </ForLatestPrivateMessages>
    </div> 
    </div>
</post> 
<paging><div class="pager">[paging]</div></paging>