<list>
    <tr>
        <column>
          <td align="left" class="profile" width="220px">
          <main>
              [name] <br />
              <age>[age] ساله، </age>[country]<city>-[city]</city> <br />
              <add>
              		<a href="javascript:void(0);" onclick="return FriendManagement(this,'add','[FriendBlogID]','[mode]');"><img src="http://www.peyghamak.com/images/Buttons/addasfriend.png" width="15" height="15" align="texttop" style="border-width:0px"/>&nbsp;به دوستان من اضافه کن</a> <br />                 
              </add>
              <remove>
              		<div class="profile_remove"><a href="javascript:void(0);" onclick="return FriendManagement(this,'remove','[FriendBlogID]','[mode]');" style="color:#3399FF"><img src="/Images/Icons/mp.gif" height="15" align="texttop" style="border-width:0px"/>&nbsp;از دوستان من خارج کن</a></div>
              </remove>
              <block>
              		<div class="profile_remove"><a href="javascript:void(0);" onclick="return FriendManagement(this,'block','[FriendBlogID]','[mode]');"><img src="http://www.peyghamak.com/images/Buttons/removefriend.png" width="15" height="15" align="texttop" style="border-width:0px"/>&nbsp;از دوستان من مسدود کن</a></div>
              </block>
              <heblocked>
              		<div class="profile_remove">  <img src="http://www.peyghamak.com/images/Buttons/removefriend.png" width="15" height="15" align="texttop" style="border-width:0px"/>&nbsp;شما از این شخص مسدود شده اید</div>
              </heblocked>
              <meblocked>
              		<div class="profile_remove">  <img src="http://www.peyghamak.com/images/Buttons/removefriend.png" width="15" height="15" align="texttop" style="border-width:0px"/>&nbsp;شما این شخص را مسدود کرده اید</div>
              </meblocked>
              <br />
          </main>
           </td>
          <td width="80" height="80" align="left" valign="top" class="profile">
          <main>
                <a href="[url]" title="[name]"><img src="[image]" width="75" height="75"/></a>
          </main>
          </td>
          <td width="10" align="left">&nbsp;</td>
         </column>
    </tr>
</list>
<paging>
<tr>
    <td colspan="5" style="font-family:Tahoma;font-size:10px;text-decoration:none;color:#666666;" dir="ltr" class="showPost_buttom" align="center"><br><br>[paging]</td> 
</tr>
</paging>