<table width='100%' border='0' cellspacing='0' cellpadding='0'>
  <tr>
    <td>
    <div class="display_date">جمعه، 23 تیر 1386 </div>
    <table width="100%" border="0" cellspacing="2" cellpadding="0" id="T1234567890">
      <tr>
        <td width="25" valign="top" >&nbsp;</td>
        <td class="showpost_bg"><div id="showPost_top">
            <div align="left" class="textInside">If A is success in life, then A equales X plus Y plus Z. Works is X, Y is play, And Z is keeping your mouth shut. Albert Enistain.</div>
        </div>
            <div id="showPost_buttom">دارا، 5 ساعت پیش&nbsp;&nbsp;-&nbsp;&nbsp;<a href="#">6 نظر</a>&nbsp;<img src="http://www.peyghamak.com/images/Icons/comment_small.gif" alt="نظرات" width="15" height="15" align="top" /></div></td>
        <td width="75" valign="top" class="showpost_memImg"><img src="Members/Pic/Member4.gif" alt="مهرداد" width="40" height="40" /></td>
      </tr>
    </table>
    <br />
    <div class="display_date">دوشنبه، 25 تیر 1386 </div>
    </td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="2" cellpadding="0"  id="T1234567891">
      <tr>
        <td width="25" valign="top" >&nbsp;</td>
        <td class="showpost_bg"><div id="showPost_top">
            <div align="left" class="textInside">If A is success in life, then A equales X plus Y plus Z. Works is X, Y is play, And Z is keeping your mouth shut. Albert Enistain.</div>
        </div>
            <div id="showPost_buttom">دارا، 5 ساعت پیش&nbsp;&nbsp;-&nbsp;&nbsp;<a href="#">6 نظر</a>&nbsp;<img src="http://www.peyghamak.com/images/Icons/comment_small.gif" alt="نظرات" width="15" height="15" align="top" /></div></td>
        <td width="75" valign="top" class="showpost_memImg"><img src="Members/Pic/Member4.gif" alt="مهرداد" width="40" height="40" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="2" cellpadding="0" id="T1234567892">
      <tr>
        <td width="25" valign="top" >&nbsp;</td>
        <td class="showpost_bg"><div id="showPost_top">
            <div align="left" class="textInside">If A is success in life, then A equales X plus Y plus Z. Works is X, Y is play, And Z is keeping your mouth shut. Albert Enistain.</div>
        </div>
            <div id="showPost_buttom">دارا، 5 ساعت پیش&nbsp;&nbsp;-&nbsp;&nbsp;<a href="#">6 نظر</a>&nbsp;<img src="http://www.peyghamak.com/images/Icons/comment_small.gif" alt="نظرات" width="15" height="15" align="top" /></div></td>
        <td width="75" valign="top" class="showpost_memImg"><img src="Members/Pic/Member4.gif" alt="مهرداد" width="40" height="40" /></td>
      </tr>
    </table></td>
  </tr>
</table>